[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-minion-install.service
After=kube-minion-install.service

[Service]
EnvironmentFile=/etc/kube-config.env
ExecStart=/opt/bin/kube-proxy \
  --master=${KUBE_MASTER_URLS} \
  --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=minion
