[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
ExecStart=/opt/bin/kube-scheduler \
  --master=127.0.0.1:${KUBE_MASTER_PORT}

[X-Fleet]
Global=true
MachineMetadata=role=master
