[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
EnvironmentFile=/etc/kube-config.env
ExecStart=/opt/bin/kube-controller-manager \
  --service_account_private_key_file=/opt/bin/kube-serviceaccount.key \
  --master=127.0.0.1:${KUBE_MASTER_PORT} \
  --cloud_provider= \
  --pod_eviction_timeout=30s \
  --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=master
