[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-minion-install.service
After=kube-minion-install.service

[Service]
EnvironmentFile=/etc/kube-config.env
ExecStartPre=/usr/bin/mkdir -p /opt/kubernetes/manifests/
ExecStart=/opt/bin/kubelet \
  --address=0.0.0.0 \
  --port=${KUBE_KUBELET_PORT} \
  --api_servers=${KUBE_MASTER_URLS} \
  --cloud_provider= \
  --allow_privileged=true \
  --cluster_dns=${KUBE_CLUSTER_NAMESERVER} \
  --cluster_domain=${KUBE_CLUSTER_DOMAIN} \
  --logtostderr=true \
  --config=/opt/kubernetes/manifests/ \
  --cadvisor_port=${KUBE_CADVISOR_PORT} \
  --healthz_bind_address=0.0.0.0 \
  --healthz_port=${KUBE_HEALTHZ_PORT}
Restart=always
RestartSec=10
WorkingDirectory=/root/

[X-Fleet]
Global=true
MachineMetadata=role=minion
